/* Back to Top */
#back-to-top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 1005;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	background: #f5f5f5;
	color: #444;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
}

#back-to-top:hover {
	background: #e9ebec;
}

#back-to-top.show {
	opacity: 1;
}

/* Back to Top End */



/* Footer Begin */
footer {
	background-color: transparent;
	padding: 0;
	margin: 0;
}

#footer1 {
	margin-top: 40px;
	background-color: #0a82c5;
	padding: 50px 0 20px;
}

#footer1 h5 {
	font-weight: bold;
	font-size: 22px;
	line-height: 1.2em;
	color: #fff;
}

#footer1 li {
	list-style: none;
	margin: 0em;
	line-height: 2em;
}

#footer1 a {
	font-size: 1em;
	color: #fff;
	display: block;
}

#footer1 #social-icons li a {
	padding: .25em;
}


#footer2 {
	background-color: #116db6;
	color: #fff;
	padding: 30px 0;
	-webkit-box-shadow: 0px 800px 0px 800px rgba(17, 109, 182, 1);
	-moz-box-shadow: 0px 800px 0px 800px rgba(17, 109, 182, 1);
	box-shadow: 0px 800px 0px 800px rgba(17, 109, 182, 1);
}

#footer2 a {
	color: #fff;
	display: inline-block;
	line-height: 3em;
}

/* Footer End */

/* header start */

.top_container {
	background-color: #E8EEF4;
	width: 100%;
	height: 35px;
}

.spanish-icon {
	width: 16px;
	height: 16px;
	padding: 1px 5px;
	text-align: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #2a83c4;
	font-size: 14px;
	font-weight: bold;
	color: #fff !important;
}

.language-assistance-container a {
	padding: 0 3px;
	text-decoration: none;
	color: #0a82c5;
	font-size: 13px;
}

img#toggle-image {
	padding: 1em 0;
}

.small-header-think-blue-logo {
	max-width: 249px;
	display: block;
	width: 100%;
	float: left;
}

.small-header-think-blue-logo-2 {
	max-width: 127px;
	display: block;
	width: 100%;
}

.small-header-think-blue-logo-container {
	padding: 1em 0;
}

.small-header-think-blue-logo-2-container {
	padding: 1em 1em 0 1em;
}

p.questions {
	text-align: right;
	padding-top: 27px;
}

.p-r-0 {
	padding-right: 0px;
}

/***************************************MENU**********************************/

.tb-menu {
	position: relative;
	padding-left: 0;
	white-space: nowrap
}

.tb-menu .divider {
	display: block;
	width: 100%;
	background: #fff;
	height: 1px;
	margin-top: 0;
	margin-bottom: 15px;
}

.tb-menu ul {
	list-style-type: none;
	position: relative;
	text-align: right;
	padding-bottom: 10px;
	margin-left: 3%;
	margin-bottom: 0;
}

.tb-menu ul li {
	margin: 0 1% 0 0;
	display: inline-block;
	line-height: 1em;
	text-align: center;
	font-size: 0.96em;
	letter-spacing: -0.4px;
	white-space: nowrap;
	vertical-align: top;
}



.tb-menu ul li a {
	display: block;
	padding: 10px 0 1em;
	font-weight: bold;
	font-size: 14px;
}

/*
.tb-menu ul li:first-child {margin: 0 1em 0 0;}
*/
.tb-menu ul li:last-child {
	margin: 0 0 0 0
}


.tb-dropdown {
	display: none;
	z-index: 1000;
	position: absolute;
	color: #fff;
	text-align: left;
	width: 100%;
	padding: 1em;
	white-space: normal;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.tb-dropdown p {
	color: #fff;
}


/* ONE */

.tb-menu ul li.one {
	border-top: solid 5px #0a82c5;
	color: #0a82c5;
	background-color: #fff;
	width: 18%;
}

.tb-menu ul li.one:hover {
	color: #fff;
	background-color: #0a82c5;
	text-decoration: none;
}

.tb-menu ul li.one .active {
	color: #fff;
	background-color: #0a82c5;
	text-decoration: none;
}

.tb-menu ul li.one a {
	color: #0a82c5;
}

.tb-menu ul li.one:hover a {
	color: #fff;
	text-decoration: none;
}


.tb-dropdown.one {
	background-color: #0a82c5;
	margin-left: 0;
	width: 65%;
}

.tb-dropdown.one a {
	display: block;
	color: #fff;
	line-height: 3em;
	padding: 0 1em;
}

.tb-dropdown.one a:hover {
	color: #0a82c5 !important;
	background-color: #fff;
	text-decoration: none;

}

.tb-menu ul li.one:hover .tb-dropdown.one {
	display: block;
	text-decoration: none;
}


/* TWO */

.tb-menu ul li.two {
	border-top: solid 5px #d6470b;
	color: #d6470b;
	background-color: #fff;
	width: 15%;
}

.tb-menu ul li.two:hover {
	color: #fff;
	background-color: #d6470b;
	text-decoration: none;
}

.tb-menu ul li.two .active {
	color: #fff;
	background-color: #d6470b;
	text-decoration: none;
}

.tb-menu ul li.two a {
	color: #d6470b;
}

.tb-menu ul li.two:hover a {
	color: #fff;
	text-decoration: none;
}


.tb-dropdown.two {
	background-color: #d6470b;
	margin-left: 0%;
	width: 65%;
}

.tb-dropdown.two a {
	display: block;
	color: #fff;
	line-height: 3em;
	padding: 0 1em;
}

.tb-dropdown.two a:hover {
	color: #d6470b !important;
	background-color: #fff;
	text-decoration: none;
}


.tb-menu ul li.two:hover .tb-dropdown.two {
	display: block;
	text-decoration: none;
}


/*THREE*/

.tb-menu ul li.three {
	border-top: solid 5px #36a000;
	color: #36a000;
	background-color: #fff;
	width: 15%;
}

.tb-menu ul li.three:hover {
	color: #fff;
	background-color: #36a000;
	text-decoration: none;
}

.tb-menu ul li.three .active {
	color: #fff;
	background-color: #36a000;
	text-decoration: none;
}

.tb-menu ul li.three a {
	color: #36a000;
}

.tb-menu ul li.three:hover a {
	color: #fff;
	text-decoration: none;
}


.tb-dropdown.three {
	background-color: #36a000;
	margin-left: -25%;
	width: 65%;
}

.tb-dropdown.three a {
	display: block;
	color: #fff;
	line-height: 3em;
	padding: 0 1em;
}

.tb-dropdown.three a:hover {
	color: #36a000 !important;
	background-color: #fff;
	text-decoration: none;

}

.tb-menu ul li.three:hover .tb-dropdown.three {
	display: block;
	text-decoration: none;
}

/*FOUR*/

.tb-menu ul li.four {
	border-top: solid 5px #f67f00;
	color: #f67f00;
	background-color: #fff;
	width: 23%;
}

.tb-menu ul li.four:hover {
	color: #fff;
	background-color: #f67f00;
	text-decoration: none;
}

.tb-menu ul li.four .active {
	color: #fff;
	background-color: #f67f00;
	text-decoration: none;
}

.tb-menu ul li.four a {
	color: #f67f00;
}

.tb-menu ul li.four:hover a {
	color: #fff;
	text-decoration: none;
}


.tb-dropdown.four {
	background-color: #f67f00;
	margin-left: -42%;
	width: 65%;

}

.tb-dropdown.four a {
	display: block;
	color: #fff;
	line-height: 3em;
	padding: 0 1em;
}

.tb-dropdown.four a:hover {
	color: #f67f00 !important;
	background-color: #fff;
	text-decoration: none;
}


.tb-menu ul li.four:hover .tb-dropdown.four {
	display: block;
	text-decoration: none;
}

/*FIVE*/

.tb-menu ul li.five {
	border-top: solid 5px #9911b6;
	color: #9911b6;
	background-color: #fff;
	width: 18%;
}

.tb-menu ul li.five:hover {
	color: #fff;
	background-color: #9911b6;
	text-decoration: none;
}

.tb-menu ul li.five .active {
	color: #fff;
	background-color: #9911b6;
	text-decoration: none;
}

.tb-menu ul li.five a {
	color: #9911b6;
}

.tb-menu ul li.five:hover a {
	color: #fff;
	text-decoration: none;
}


.tb-dropdown.five {
	background-color: #9911b6;
	right: 0;
	width: 65%;
}

.tb-dropdown.five a {
	display: block;
	color: #fff;
	line-height: 3em;
	padding: 0 1em;
}

.tb-dropdown.five a:hover {
	color: #9911b6 !important;
	background-color: #fff;
	text-decoration: none;

}

.tb-menu ul li.five:hover .tb-dropdown.five {
	display: block;
	text-decoration: none;
}

.overflow-inherit {
	overflow: inherit;
}

.accordion-item a {
	font-weight: bold;
}

.off-canvas li a.type-blue-color,
.type-blue-color {
	color: #0a82c5;
}

.type-blue-bg {
	background: #0a82c5;
}

.p-0 {
	padding: 0px;
}

.grey-border-bottom {
	border-bottom: solid 2px #cbcbcb;
}

.off-canvas li a.b-f,
.b-f {
	font-weight: bold;
}

li.accordion-item.b-g-w,
.b-g-w {
	background-color: white;
}

li.accordion-item.b-g-w {
	background-color: #ececec;
}

.off-canvas li a.b-g-w:hover,
.off-canvas li a.b-g-w:focus {
	background-color: #ececec;
}

.off-canvas li a.red-type-color,
.red-type-color {
	color: #d6470b;
}

.off-canvas li a.green-type-color,
.green-type-color {
	color: #36a000;
}

.off-canvas li a.orange-type-color,
.orange-type-color {
	color: #ffb500;
}

.off-canvas li a.purple-type-color,
.purple-type-color {
	color: #9911b6;
}

.type-red-bg {
	background: #d6470b;
}

.type-green-bg {
	background: #36a000;
}

.type-orange-bg {
	background: #ffb500;
}

.type-purple-bg {
	background: #9911b6;
}


.f-s-13 {
	font-size: 13px;
}

.accordion-item div a {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
}

/* header end */